.searchbox {
    width: 63.5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-size:25px 25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    float: left;
    margin-left: 5%;
}
.searchbar{
    margin-top: 4%;
    
}
.submit3{
    text-decoration: none;
    margin-bottom: 1%;
    width: 10%;
    margin-left: 3%;
    background-color: #00851f;
    border: 2px;
    border-radius: 10px;
    font-size: 110%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 12px 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.add{
    float: right;
    margin-top: 4%;
    margin-right: 9%;
}

.table{
    margin-top: 4%;
    margin-left: 5%;
    width: 90%;
    border: 2px solid  black;
    border-radius: 10px;
}
.table ,th, td{
    width: 90%;
    border: 2px solid  black;
    border-radius: 10px;
    border-collapse: collapse;
    padding: 15px;

}
.table th{
    color:  #00851f;
}
body{
    background-color: #e8ebef;
    font-family: 'Roboto', sans-serif;
}