::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     black;
}
@media screen and (max-width:1024px) {
  ul.navbar li:not(:first-child) {display: none;}
  ul.navbar .icon {
    float: right;
    display: inline-block;

  }
  img.logo2{
    display: none;
  }
}
@media screen and (max-width:1024px) {
  ul.navbar.responsive {position: relative;}
  ul.navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.responsive li {
    float: none;
    display: inline;
    width: 100%;
  }
  ul.navbar.responsive li a {
    display: block;
    text-align: left;
  }
  img.logo2{
    display: none;
  }
}

.login {
	height: 425px;
    width: 400px;
    background: white;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    border: 2px;
    border-radius: 10px;
   	text-align: center;
   
}
.logo{
	height: 200px;
    width: 400px;
 	border: 2px;
    border-radius: 10px;

}
.logo2{
	height: 50px;
    width: 15%;
    display: inline;
    float: left;
    
}
.input{
	margin-top: 5%;
	width: 85%;
	padding: 12px 15px;
	color: black;
	border: 2px;
    border-radius: 10px;
    background-color: #E5E5E5;
    outline: none;
}
.checkbox{
	margin-top:3%;
	margin-left: -60%;
}
.submit{
	width: 90%;
	margin-top: 5%;
	background-color: #00851f;
	padding: 12px 15px;
	border: 2px;
    border-radius: 10px;
    color: white;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 120%;
}
.submit2{
	width:50%;
	height: 15%;
	margin-left: 250px;
	margin-top: 0;
}
.submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.head{
	margin: 0;
  padding: 0;
	
}
.navbar{
    list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #aaaaaa;
    top: 0;

}
.nav{
	float: left;
	display: inline;
	/*padding-left: 10%;*/
}
.nav a{
	 display: inline-block;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	transition: 0.3s;
  	font-size: 17px;
  	border-right: 2px solid #bbb;
}
.nav a:last-child{
	border-right:  2px solid #bbb;
}

.nav a:hover{
	background-color: #00851f;
    color: white;
}
.nav a.active {
    background-color: #4CAF50;
    color: white;
}
/*.icon{
	display: none;
}*/
.icon {
    display: none;
    cursor: pointer;
    border: 2px solid black;
    margin-right: 2%;
    margin-top: .5%;
    padding-left: 1%;
    padding-right: 1%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
input[type=text]:focus {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #555;
}

body{
	background-color: #e8ebef;
	font-family: 'Roboto', sans-serif;
  margin: 0;
}