::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     black;
}
.login {
	height: 425px;
    width: 400px;
    background: white;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    border: 2px;
    border-radius: 10px;
   	text-align: center;
   
}
.logo{
	height: 200px;
    width: 400px;
 	border: 2px;
    border-radius: 10px;

}
.input{
	margin-top: 5%;
	width: 85%;
	padding: 12px 15px;
	color: black;
	border: 2px;
    border-radius: 10px;
    background-color: #E5E5E5;
    outline: none;
}
.checkbox{
	margin-top:3%;
	margin-left: -65%;
}
.submit{
	width: 90%;
	margin-top: 5%;
	background-color: #00851f;
	padding: 12px 15px;
	border: 2px;
    border-radius: 10px;
    color: white;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 120%;
}
.submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input[type=text]:focus {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #555;
}
body{
	background-color: silver;
	font-family: 'Roboto', sans-serif;
}